<p><a href="http://www.ciuciukrakow.pl/"><img src="/assets/partners/ciuciu.png"/></a></p>
<p><a href="http://dragonus.pl"><img src="/assets/partners/dragonus.jpg"/></a></p>
<p><a href="http://crpg.insi.pl/"><img src="/assets/partners/insi.png"/></a></p>
<p><a href="http://ksf.org.pl/"><img src="/assets/partners/ksf-big.jpg"/></a></p>
<p><a href="http://lajconik.ksf.org.pl/"><img src="/assets/partners/lajkonik-trojanski.png"/></a></p>
<p><a href="http://pratchett.pl/"><img src="/assets/partners/logoPratchett.jpg"/></a></p>
<p><a href="http://www.bibliotekakrzeszowice.pl/"><img src="/assets/partners/mgbp.jpg"/></a></p>
<p><a href="http://www.phalanxgames.pl/"><img src="/assets/partners/phalanx.png"/></a></p>
<p><a href="http://www.proszynski.pl/"><img src="/assets/partners/proszynski.png"/></a></p>
<p><a href="http://pyrkon.pl/"><img src="/assets/partners/pyrkon.png"/></a></p>
<p><a href="http://www.rebis.com.pl/"><img src="/assets/partners/Rebis.JPG"/></a></p>